
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by<img class="icon" src="images/U.M.I.icon.png" height="110px" width="105px"></p>
  </div>
</div>
</body>
</html>
