<%- include("partials/header") -%>

<h1>Contact</h1>

<div class="parent" style="text-align: center;">
  <div class="child" style="text-align: center;">
    <img src="images/U.M.I.icon.png" style="width: 200px; height: 200px;" alt="logo">
  </div>
  <div class="child">
    <p class="det">Hey there! This is Irfan, the developer of this web application.</p>
    <p class="det">The Blogz application is created to publish your blogs and visit others blogs.</p>
    <p class="det">For any queries, pls do contact us,</p>
    <p class="det">We value your feedback</p>
    <a class="contact-btn" href="mailto:umiappsofficial@gmail.com">CONTACT ME</a>
  </div>
</div>

<footer>
  <div class="details" style="padding-right: 10px; text-align: right;">
    <p class="dett">umi apps</p>
    <p class="dett">© copyrights 2023 Blogz</p>
    <p class="dett">all rights reserved</p>
  </div>
</footer>

<%- include("partials/footer") -%>
