<%- include("partials/header")%>

<h1><%= keyTitle%></h1>
<p><%= keyContent %></p>


<form class="" action="/back" method="post">
  <button class="btn btn-danger" type="submit" name="button">Back</button>
</form>
<%- include("partials/footer")%>
