.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 3px;
    border: 0;
    border-radius: 3px;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2.5px;
    background-color: #1abc9c;
}

.navbar-nav  li a{
  margin-right: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff !important;
  /* padding-right: 20px; */
}

.navbar-nav  li a:hover, .navbar-brand:hover {
    color: #000 !important;
}
h1, h2{
  font-weight: 600;
}
h1:hover, h2:hover{
  color: #1abc9c;
}
a{
  text-decoration: none;
}
.container{
  padding-top: 20px;
}

.contact-btn {
  background-color: #fd5200;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 15px;
}

.contact-btn:hover {
  background-color: #1abc9c;
  color: white;
}

footer{
  background-color: #1abc9c;
  color: white;
  border-radius: 3px;
  margin-top: 35px;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  body{
    width: 98%;
    margin: 90px 1% 1% 1%;
  }
  .navbar{
    width: 98%;
  }
}

@media only screen and (min-width: 600px) {
  body{
    width: 70%;
    margin: 90px 15% 1% 15%;
  }
  .navbar{
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  body{
    width: 60%;
    margin: 90px 20% 1% 20%;
  }
  .navbar{
    width: 60%;
  }
}
